<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="product.css">
        <title>Ecommerce</title>
    </head>

    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <!--href(hypertext reference)-->
                    <!-- <a class="brand" href="index.html" >Ecommerce</a> -->
                    <a href="index.html" class="brand"> <img src="https://img.icons8.com/ios-filled/50/000000/checkout.png"/> Easy Way </a>
                </div>

                <div class="Cart-signin-padding">
                    <a href="Cart.html" >Cart</a>
                    <a href="Signin.html" >Sign In</a>
                </div>
            </header>

            <main>
                <div class="row center" >
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/p1.jpg" alt="product" >
                        </a>

                        <div class="card-body" >
                            <a href="product.html" >
                                <h2>Shoes 1</h2>
                            </a>

                            <div class="price">
                                $80
                            </div>
                        </div>
                    </div>
                    
                </div>
            </main>

            <footer class="row center">
                <div>All right reserved</div>
            </footer>
        </div>
    </body>
</html>