

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  /* Font family will be Helvetica, if Helvetica is not supported then Arial, if not Arial, then sans-serif as our last option */
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root{
  height: 100%;
}

/* Start Layout*/
.grid-container{
  display: grid;
  grid-template-areas: 'headerr' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  height: 100%; 
}

header{
  grid-area: headerr;
  background-color: #863563;
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: #863563;
  color: #ffffff;
}
/* End Layout*/


/*Start common*/
a{
  text-decoration: none; /*removes underline from href*/
}
a:hover{
  color: orange;
}
/*End common*/



/*Start Header*/
.row{
  display: flex;
  flex-wrap: wrap; /*if there is no enough space it will put the contents in separet line */
  justify-content: space-between;
  align-items: center;
}

.row.top{
  align-items: flex-start;
}


header a{
  color: white;
  padding: 1rem;
}


a.brand{
  color: rgb(19, 17, 17);
  font-size: 3rem;
  font-weight: bold;
}
/*End Header*/



/*Start footer*/
.row.center{
  justify-content: center;
}
/*End footer*/

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex:2 1 50rem;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Cart-signin-padding{
  padding-right: 25px;
}

.success{
  color: #20a020;
}

.error{
  color: #a02020;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem, #a4a4a4 solid;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

button.primary{
  background-color: #f0c040;
}

button.block{
  width: 100%;
}

button:hover{
  border: 0.1rem #404040 solid;
}

img.large{
  width: 100%;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger{
  color: #a02030;
  background-color: #e2a0a0e0;
}



